@import "variables";

body{
	font-family: 		"GeosansLight";
	font-size: 			$font-size-default;
	background-color:	$gray-light;
}

h1{
	font-size: 		$h1-size;
}

h2{
	font-size: 		$h2-size;
}

h3{
	font-size: 		$h3-size;
}

h4{
	font-size: 		$h4-size;
}

h5{
	font-size: 		$h5-size;
}

h6{
	font-size: 		$h6-size;
}

.small-text{
	font-size: 		$font-size-small;
}

.medium-text{
	font-size:		$font-size-medium;
}

.large-text{
	font-size: 		$font-size-large;
}

.text-center{
	text-align:		$text-center;
}