/* line 3, ../sass/segments.scss */
.segment {
  background-color: #fffcfc;
  border-radius: 5px;
  width: 98%;
  height: auto;
  box-shadow: 2px 3px 10px 1px #d9d8d8;
  padding: 10px;
}

/* line 14, ../sass/segments.scss */
.segment-green {
  border-left: 3px solid #40c44f;
  border-right: 3px solid #40c44f;
}

/* line 19, ../sass/segments.scss */
.segment-blue {
  border-left: 3px solid #165cc5;
  border-right: 3px solid #165cc5;
}

/* line 24, ../sass/segments.scss */
.segment-red {
  border-left: 3px solid #fc102c;
  border-right: 3px solid #fc102c;
}

/* line 29, ../sass/segments.scss */
.segment-black {
  border-left: 3px solid #090909;
  border-right: 3px solid #090909;
}
