/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
div {
  margin: 10px;
}

@font-face {
  font-family: "GeosansLight Medium";
  src: url(../../resources/fonts/GeosansLight.ttf);
}
/* line 8, ../sass/typography.scss */
body {
  font-family: "Arial";
  font-size: 14px;
  background-color: #f2f1f1;
  src: "../fonts/GeosansLight.ttf";
}

/* line 15, ../sass/typography.scss */
h1 {
  font-size: 36px;
}

/* line 19, ../sass/typography.scss */
h2 {
  font-size: 30px;
}

/* line 23, ../sass/typography.scss */
h3 {
  font-size: 24px;
}

/* line 27, ../sass/typography.scss */
h4 {
  font-size: 18px;
}

/* line 31, ../sass/typography.scss */
h5 {
  font-size: 14px;
}

/* line 35, ../sass/typography.scss */
h6 {
  font-size: 12px;
}

/* line 39, ../sass/typography.scss */
.small-text {
  font-size: 12px;
}

/* line 43, ../sass/typography.scss */
.large-text {
  font-size: 50px;
}

/* line 3, ../sass/form.scss */
.field {
  border: 0px;
  border-radius: 5px;
  background-color: #d9d8d8;
  padding: 10px;
  width: 98%;
}

/* line 11, ../sass/form.scss */
.field-clear {
  border: 0px;
  padding: 10px;
  width: 98%;
}

/* line 17, ../sass/form.scss */
.field-green {
  border-bottom: 3px solid #40c44f;
}

/* line 21, ../sass/form.scss */
.field-error {
  border-bottom: 3px solid #fc102c;
}

/* line 25, ../sass/form.scss */
.field-blue {
  border-bottom: 3px solid #165cc5;
}

/* line 29, ../sass/form.scss */
.field-black {
  border-bottom: 3px solid #090909;
}

/* line 3, ../sass/buttons.scss */
.button {
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 10, ../sass/buttons.scss */
.button-large {
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 17, ../sass/buttons.scss */
.button-green {
  background-color: #40c44f;
}
/* line 20, ../sass/buttons.scss */
.button-green:hover {
  background-color: #34a741;
}

/* line 25, ../sass/buttons.scss */
.button-blue {
  background-color: #165cc5;
}
/* line 28, ../sass/buttons.scss */
.button-blue:hover {
  background-color: #1350ac;
}

/* line 33, ../sass/buttons.scss */
.button-red {
  background-color: #fc102c;
}
/* line 36, ../sass/buttons.scss */
.button-red:hover {
  background-color: #eb0f29;
}

/* line 41, ../sass/buttons.scss */
.button-gray {
  background-color: #f2f1f1;
}
/* line 44, ../sass/buttons.scss */
.button-gray:hover {
  background-color: #d9d8d8;
}

/* line 3, ../sass/segments.scss */
.segment {
  background-color: #fffcfc;
  border-radius: 5px;
  width: 98%;
  height: auto;
  box-shadow: 2px 3px 10px 1px #d9d8d8;
  padding: 10px;
}

/* line 14, ../sass/segments.scss */
.segment-green {
  border-left: 3px solid #40c44f;
  border-right: 3px solid #40c44f;
}

/* line 19, ../sass/segments.scss */
.segment-blue {
  border-left: 3px solid #165cc5;
  border-right: 3px solid #165cc5;
}

/* line 24, ../sass/segments.scss */
.segment-red {
  border-left: 3px solid #fc102c;
  border-right: 3px solid #fc102c;
}

/* line 29, ../sass/segments.scss */
.segment-black {
  border-left: 3px solid #090909;
  border-right: 3px solid #090909;
}

/* line 3, ../sass/containers.scss */
.container {
  margin: 0 auto;
  width: 80%;
}

/* line 12, ../sass/containers.scss */
.col-1 {
  width: 10%;
}

/* line 16, ../sass/containers.scss */
.col-2 {
  width: 20%;
}

/* line 56, ../sass/containers.scss */
.col-12 {
  width: 98%;
}
