/* line 3, ../sass/buttons.scss */
.button, .button-link {
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 25px;
  color: #fffcfc;
  font-family: "GeosansLight Medium";
}

/* line 15, ../sass/buttons.scss */
.button-link {
  text-decoration: none;
  text-align: center;
}

/* line 20, ../sass/buttons.scss */
.button-large {
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 27, ../sass/buttons.scss */
.button-green {
  background-color: #40c44f;
}
/* line 30, ../sass/buttons.scss */
.button-green:hover {
  background-color: #34a741;
}

/* line 35, ../sass/buttons.scss */
.button-blue {
  background-color: #165cc5;
}
/* line 38, ../sass/buttons.scss */
.button-blue:hover {
  background-color: #1350ac;
}

/* line 43, ../sass/buttons.scss */
.button-red {
  background-color: #fc102c;
}
/* line 46, ../sass/buttons.scss */
.button-red:hover {
  background-color: #eb0f29;
}

/* line 51, ../sass/buttons.scss */
.button-gray {
  background-color: #f2f1f1;
}
/* line 54, ../sass/buttons.scss */
.button-gray:hover {
  background-color: #d9d8d8;
}
