/* line 3, ../sass/containers.scss */
.container {
  margin: 0 auto;
  width: 80%;
  position: relative;
}

/* line 9, ../sass/containers.scss */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  margin: 0px;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  display: inline-block;
}

/* line 20, ../sass/containers.scss */
.col-1 {
  width: 10%;
}

/* line 24, ../sass/containers.scss */
.col-2 {
  width: 18%;
}

/* line 28, ../sass/containers.scss */
.col-3 {
  width: 26%;
}

/* line 32, ../sass/containers.scss */
.col-4 {
  width: 34%;
}

/* line 36, ../sass/containers.scss */
.col-5 {
  width: 42%;
}

/* line 40, ../sass/containers.scss */
.col-6 {
  width: 50%;
}

/* line 44, ../sass/containers.scss */
.col-7 {
  width: 58%;
}

/* line 48, ../sass/containers.scss */
.col-8 {
  width: 66%;
}

/* line 52, ../sass/containers.scss */
.col-9 {
  width: 74%;
}

/* line 56, ../sass/containers.scss */
.col-10 {
  width: 82%;
}

/* line 60, ../sass/containers.scss */
.col-11 {
  width: 90%;
}

/* line 64, ../sass/containers.scss */
.col-12 {
  width: 98%;
}

/* line 68, ../sass/containers.scss */
.float-right {
  float: right;
}

/* line 72, ../sass/containers.scss */
.float-left {
  float: left;
}
