/* line 3, ../sass/form.scss */
form {
  clear: both;
}

/* line 7, ../sass/form.scss */
.field {
  border: 0px;
  border-radius: 5px;
  background-color: #d9d8d8;
  padding: 10px;
  margin-top: 10px;
  width: 98%;
}

/* line 16, ../sass/form.scss */
.field-clear {
  border: 0px;
  padding: 10px;
  width: 98%;
  background-color: transparent;
}

/* line 23, ../sass/form.scss */
.field-green {
  border-bottom: 3px solid #40c44f;
}

/* line 27, ../sass/form.scss */
.field-error {
  border-bottom: 3px solid #fc102c;
}

/* line 31, ../sass/form.scss */
.field-blue {
  border-bottom: 3px solid #165cc5;
}

/* line 35, ../sass/form.scss */
.field-black {
  border-bottom: 3px solid #090909;
}

/* line 39, ../sass/form.scss */
.field-gray {
  border-bottom: 3px solid #d9d8d8;
}
