@font-face {
  font-family: GeosansLight;
  src: url("../fonts/geosans/GeosansLight.eot?") format("eot"), url("../fonts/geosans/GeosansLight.woff") format("woff"), url("../fonts/geosans/GeosansLight.ttf") format("truetype"), url("../fonts/geosans/GeosansLight.svg#GeosansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../sass/typography.scss */
body {
  font-family: "GeosansLight";
  font-size: 14px;
  background-color: #f2f1f1;
}

/* line 16, ../sass/typography.scss */
h1 {
  font-size: 36px;
}

/* line 20, ../sass/typography.scss */
h2 {
  font-size: 30px;
}

/* line 24, ../sass/typography.scss */
h3 {
  font-size: 24px;
}

/* line 28, ../sass/typography.scss */
h4 {
  font-size: 18px;
}

/* line 32, ../sass/typography.scss */
h5 {
  font-size: 14px;
}

/* line 36, ../sass/typography.scss */
h6 {
  font-size: 12px;
}

/* line 40, ../sass/typography.scss */
.small-text {
  font-size: 12px;
}

/* line 44, ../sass/typography.scss */
.medium-text {
  font-size: 30px;
}

/* line 48, ../sass/typography.scss */
.large-text {
  font-size: 50px;
}

/* line 52, ../sass/typography.scss */
.text-center {
  text-align: center;
}
